body {
    padding: 100px;
    background-color: #fbfcfd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.relative {
    position: relative;
}

.none {
    display: none !important;
}

.button-style {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 14px 22px;
    background-color: #3c434a;
    border-radius: 3px;
    color: rgb(245, 245, 245);
    fill: rgb(245, 245, 245);
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.6px;
    user-select: none;
}
.button-style:hover {
    background-color: #2d3339;
}

.button-style-disabled {
    background-color: #8d9297 !important;
    cursor: default;
}

.size15 {
    width: 15px;
    height: 15px;
}

.centered-spinner {
    position: absolute;
    left: 0;
    top: 0;
}

.opacity0 {
    opacity: 0;
}

.infinite-rotate {
    animation: rotate 1.4s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}